/* .MainContainerNav {
    height: 100vh;
} */

.container {
    display: flex;
    justify-content: right;
}


.bg-blue {
    background: rgb(173, 175, 230);
    height: 30px;
    width: 30px;
    text-align: center;
    border-radius: 5px;
    margin-right: 10px;
}

.bodyContainer {
    display: flex;
    justify-content: space-around;
}

.descrition {
    margin-left: 25px;
}

.pie {
    display: flex;
    justify-content: center;
}


.cardContainer {
    display: flex;
    justify-content: space-around;
}

.line-graph {
    display: flex;
    justify-content: center;
}

.subCol {
    display: flex;
    justify-content: space-around;
    width: 100%;
}

.borderAround {
    background-color: lightblue;
    height: 25px;
    width: 25px;
    color: #fff;
    border-radius: 8px;
    padding-left: 4px;
}

.sideNavigationBar {
    width: 80vw;
    background-color: #11192B;
}

.containerChart {
    width: 55rem;
    display: flex;
    justify-content: space-between;
    margin: 20px;
}

.graph-container {
    border: 1px solid rgba(170, 182, 189, 0.4);
    width: 18rem;
    border-radius: 5px;
    padding: 10px;
}

.graph-container2 {
    margin-top: 20px;
}

.card-header-container {
    border: 1px solid rgba(170, 182, 189, 0.4);
    border-radius: 5px;
    margin: 10px;
    width: 30%;
}

.mobile-hambger {
    display: none;
}

.sales-container {
    display: grid;
    grid-template-columns: 50% 50%;
    width: 15rem;
    text-align: center;
}

.bar-container {
    justify-content: space-around;
    background-color: #fff;
}

.bg-blue1 {
    width: 25%;
    height: 10%;
    background: gray;
    color: green;
    border-radius: 10px;
    margin-top: 5px;
}

.sub {
    margin-top: 15x;
}

.innerCard {
    height: 57px;
}

.innerCardContainer {
    margin-top: -20px;
}

.pie-card {
    margin-top: 10px;
    height: 50%;
}

.close-outline {
    text-align: center;
    display: none;
}

.sideIcon {
    width: 25%;
}

.sideIcon1 {
    width: 100%;
    display: flex;
    justify-content: space-around;
}

.rounded-photo {
    border-radius: 50%;
    margin-top: 5px;
}

.setting {
    margin-top: 7px;
}

.exclamation-cricle {
    margin-top: 5px;
}

@media screen and (max-width: 768px) {
    .sideNavigationBar {
        display: none;
    }
    .subCol {
        display: flex;
        justify-items: center;
    }

    .innerCard {
        margin: 5px;
        align-items: center;
    }

    .navContainer {
        display: flex;
        flex-direction: row;
    }

    .sideIcon {
        display: flex;
        flex-direction: row;
        display: none;
    }

    .containerChart {
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 20rem;
        margin-left: 1.5rem;
    }

    /* .containerChart {
        border: 2px solid red;
        width: 60rem;
        display: flex;
        justify-content: space-between;
    } */
    

    .bodyContainer {
        display: flex;
        flex-direction: column-reverse;
        flex-wrap: wrap;
    }

    .main {
        display: flex;
        border: 1px solid rgba(170, 182, 189, 0.4);
        width: 22.5rem;
        flex-direction: column;
        margin-top: 10px;
    }

    .dashboard-title {
        display: flex;
        justify-content: center;
        width: 15rem;
    }

    .hamburger-menu {
        display: none;
    }

    .mobile-hambger {
        display: block;
    }

   .bar-container {
    flex-direction: column;
   }

   .sales-main {
    border: 2px solid red;
    display: flex;
    justify-content: center;
   }

   .close-outline {
    text-align: right;
    display: block;
  }

  .outline {
    font-size: 40px;
    margin-top: 5px;
  }
}